<ion-view title="Message">
  <ion-content class="has-header padding">
  	<p>Send yourself a demo Pebble message!</p>
	
	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Title</span>
			<input type="text" ng-model="mTitle">
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Body</span>
			<input type="text" ng-model="mBody">
		</label>

		<button class="button button-block button-large" ng-click="alert(mTitle, mBody)">send message</button>
	</div>
  </ion-content>
</ion-view>
