<ion-view title="Music">
  <ion-content class="has-header padding">
  	<p>Set the currently-playing music on your Pebble!</p>

	<div class="list">
		<label class="item item-input item-stacked-label">
			<span class="input-label">Artist</span>
			<input type="text" ng-model="mArtist">
		</label>
		
		<label class="item item-input item-stacked-label">
			<span class="input-label">Album</span>
			<input type="text" ng-model="mAlbum">
		</label>

		<label class="item item-input item-stacked-label">
			<span class="input-label">Track</span>
			<input type="text" ng-model="mTrack">
		</label>
		
		<button class="button button-block button-large" ng-click="music(mArtist, mAlbum, mTrack)">set music</button>
	</div>
  </ion-content>
</ion-view>
