<ion-view title="Apps">
  <ion-content class="has-header padding">
  	<p>Here, you can start the built-in apps on your Pebble! This also shows a demo of sending data to the app.</p>
  	
  	<button class="button button-block button-large button-energized" ng-click="sports()">
  		<i class="ion-ios7-baseball-outline"></i> sports
  	</button>
  	<button class="button button-block button-large button-balanced" ng-click="golf()">
  		<i class="ion-flag"></i> golf
  	</button>
  </ion-content>
</ion-view>
